- cnt = @applicants.length
- @applicants.each_with_index do |applicant,i|
  - @scores = applicant.stage.get_applicant_scores(applicant)
  - @citizen = applicant.user

  %h4 
    Citizen Profile, Project:
    = applicant.stage.project_name
    , Job: 
    = applicant.stage.job_title
  %fieldset{:class => "f-left profile-list",:style => "width:40%"}
    %legend Contact
    %table{:class => "profile p100"}
      = showfield("Name", @citizen.name_full)
      = showfield("Address", @citizen.address)
      = showfield("City/St/Zip","#{@citizen.city}, #{@citizen.state} #{@citizen.zip}")
      = showfield("Primary Phone", @citizen.phone_primary)
      = showfield("Secondary Phone", @citizen.phone_secondary)
      = showfield("eMail", @citizen.email)
      = showfield("BirthMMDD", "#{@citizen.birth_mm}#{@citizen.birth_dd}")
      = showfield("Date",applicant.status_date)
      = showfield("Status",applicant.status)
      = showfield("Score",format_money(applicant.score))
      = showfield("Weighted",format_money(applicant.weighted))
      
  - @score = @scores["application.skills"].first if @scores
  - if @score
  
    %fieldset{:class => "f-right profile-list",:style => "width:55%"}
      %legend 
        Skills
        %span.annotate
          = "Raw #{format_money(@score.score)}, Weighted #{format_money(@score.score_weighted)} "
      - @score_hash = ActiveSupport::JSON.decode(@score.score_object)
      - @qa = Assessment.find(@score_hash["assessment_id"]).getQandA
      - skills = dumpSummary(@score_hash,@qa,:class => "profile-list",:twidth => "p100").html_safe
      - len = @qa[:questions].length
      - mid = (len / 2).to_i
      %table{:class => "f-left profile p50"}
        <tr><td><strong>Area</strong></td><td><strong>Years</strong></td></tr>
        - 0.upto(mid - 1) do |i|
          = show_question(@qa[:questions][i])
      %table{:class => "f-left profile p50"}
        <tr><td><strong>Area</strong></td><td><strong>Years</strong></td></tr>

        - (mid).upto(len - 1 ) do |i|
          = show_question(@qa[:questions][i])
      .f-clear
    .f-clear

  - @score = @scores["application.education"].first if @scores
  - if @score
    %fieldset{:class => "f-left profile-list",:style => "width:47%"}
      %legend 
        Education
        %span.annotate
          = "Raw #{format_money(@score.score)}, Weighted #{format_money(@score.score_weighted)} "
      %table{:class => "profile p100"}
        <tr><td class="p30"><strong>Question</strong></td><td><strong>Ans</strong></td></tr>

        - @score_hash = ActiveSupport::JSON.decode(@score.score_object)
        - @qa = Assessment.find(@score_hash["assessment_id"]).getQandA
        - education = dumpSummary(@score_hash,@qa,:class => "profile-list p100",:twidth => "p100").html_safe
  
        - @qa[:answers].each do |answer|
          = show_answer(answer)
  - @score = @scores["application.general"].first if @scores
  - if @score
  
    %fieldset{:class => "f-right profile-list",:style => "width:47%"}
      %legend 
        General
        %span.annotate
          = "Raw #{format_money(@score.score)}, Weighted #{format_money(@score.score_weighted)} "
      %table{:class => "profile p100"}
        <tr><td class="p30"><strong>Question</strong></td><td><strong>Ans</strong></td></tr>

        - @score_hash = ActiveSupport::JSON.decode(@score.score_object)
        - @qa = Assessment.find(@score_hash["assessment_id"]).getQandA
        - general = dumpSummary(@score_hash,@qa,:class => "profile-list",:twidth => "p100").html_safe
  
        - @qa[:questions].each do |question|
          = show_question(question)
    .f-clear
    
  - @score = @scores["application.experience"].first if @scores
  - if @score
  
    %fieldset.profile-list
      %legend Work Experience

      - @score_hash = ActiveSupport::JSON.decode(@score.score_object)
      - @qa = Assessment.find(@score_hash["assessment_id"]).getQandA
      %table{:class => "f-left profile p30"}
        - 0.upto(7) do |i|
          = show_answer_text(@qa[:answers][i])
      %table{:class => "f-left profile p30"}
        - 8.upto(15) do |i|
          = show_answer_text(@qa[:answers][i])
      %table{:class => "f-left profile p30"}
        - 16.upto(23) do |i|
          = show_answer_text(@qa[:answers][i])
      .f-clear
      %table{:class => "profile"}
        = show_answer_text(@qa[:answers][24])

    .f-clear
  - @score = @scores["application.custom"].first if @scores
  - if @score
  
    %fieldset{:class => "page-break"}
      %legend 
        Company Specific
        %span.annotate
          = "Raw #{format_money(@score.score)}, Weighted #{format_money(@score.score_weighted)} "

      - @score_hash = ActiveSupport::JSON.decode(@score.score_object)
      - @qa = Assessment.find(@score_hash["assessment_id"]).getQandA
      =  dumpSummary(@score_hash,@qa,:class => "profile-list p100",:twidth => "p100").html_safe

    .f-clear

  %fieldset
    %legend Scoring Summary
    = education if !education.nil?
    %hr
    %div{:class => "f-left p40"}
      = general if !general.nil?
    %div{:class => "f-left p60"}
      = skills if !skills.nil?

  .f-clear
  %hr
  - if (i + 1) < cnt
    %div.page-break

