
<fieldset id="administrator_dashboard" class="">
  <legend>Administrator Dashboard</legend>
  <div class="box">
  <ul>
    <li><%= link_to "Assessments", admin_assessments_path %></li>
    <li><%= link_to "Stages", stages_path %></li>
    <li><%= link_to "Jobs", jobs_path %> - What citizens see in their job tab</li>
    <li><%= link_to "Company", company_index_path %> - What company users see in their job tab</li>
    <li><%= link_to "Scores", scores_path %> - Of little use, but have not removed</li>
    <li><%= link_to "Exports", exports_path %> - Where company selections are stored and send to 4d</li>
    <li><%= link_to "Invitation", "/users/invitation/new" %> - To invite company and project manager</li>
    
  </ul>
  <p>I've implemented pdf for the profile. While this is just a test, from a controlled access fuse, you'd call a method 
    that would do a curl with a link like below.
  <a href="http://localhost:8080/ws.getprofile?cid=132704&jsid=1852" target="_blank">http://localhost:8080/ws.getprofile?cid=132704&jsid=1852</a>
  and if my 4d is up and not timed out, you should get a pdf in an iframe. This would be used to get a application from a project view.
  </p>
  </div>
</fieldset>
