
<fieldset id="administrator_dashboard" class="">
  <legend>Administrator Dashboard</legend>
  <div class="box">
  <ul>
    <li><%= link_to "Assessments", admin_assessments_path %></li>
    <li><%= link_to "Stages", stages_path %></li>
    <li><%= link_to "Jobs", jobs_path %> - What citizens see in their job tab</li>
    <li><%= link_to "Company", company_index_path %> - What company users see in their job tab</li>
    <li><%= link_to "Scores", scores_path %> - Of little use, but have not removed</li>
    <li><%= link_to "Exports", exports_path %> - Where company selections are stored and send to 4d</li>
    <li><%= link_to "Invitation", "/users/invitation/new" %> - To invite company and project manager</li>
    <a href="#" id="myclick567" data-behavior="toggleOther">test jquery</a>
    <a href="#" id="summary-sum767" data-behavior="toggleSummary">test jquery</a>
    <textarea id="lookup" >test jquery</textarea>
    <select id="myclick564" data-behavior="toggleOther"><option>test jquery</option></select>
    <select id="myclick562" data-behavior="toggleOther" multiple="multiple"><option>test jquery</option><option>test jquery3</option></select>
    <input type="text" id="zipcode" data-behavior="zipcodeLookup" value="" />
    <input type="text" id="city"  value="" />
    <input type="radio" name="pms" id="kjkjk" data-behavior="toggleOther" value="hwere" />
    <input type="checkbox" id="oiihhk" data-behavior="toggleOther" value="hwere" />
    <input type="radio" name="pms" id="kjkjkjkkk" data-behavior="toggleOther" value="hwere" checked="checked" />
    <input type="checkbox" id="occcciihhk" data-behavior="toggleOther" value="hwere" checked="checked" />
    
  </ul>
  </div>
</fieldset>
