
<%= render 'form' %>

<div class="actions">
  <span class="route">
    <%= link_to 'Cancel (Question)', question_path(@question) %> 
  </span>
  <span class="breadcrumbs f-right">
  <%= link_to 'Assessments', assessments_path %>
  <%= link_to 'Assessment',  assessment_path(@question.assessment_id) %> 
  <%= link_to 'Question',  question_path(@question) %> 

  </span>
</div>