<%= form_for([:admin,@question,@answer]) do |f| %>
<fieldset class="assmnt-form-list">
	<legend><%= params[:action] == "edit" ? "Edit" : "New" %> Answer</legend>

  <% if @answer.errors.any? %>
  <div id="errorExplanation">
    <h2><%= pluralize(@answer.errors.count, "error") %> prohibited this answer from being saved:</h2>
    <ul>
    <% @answer.errors.full_messages.each do |msg| %>
      <li><%= msg %></li>
    <% end %>
    </ul>
  </div>
  <% end %>
  <table>
    <tr class="field">
      <th><%= f.label :sequence %></th>
      <td><%= f.text_field :sequence %></td>
    </tr>
    <tr class="field">
      <th><%= f.label :answer %></th>
      <td><%= f.text_field :answer %></td>
    </tr>
    <tr class="field">
      <th><%= f.label :shortname %></th>
      <td><%= f.text_field :shortname %></td>
    </tr>
    <tr class="field">
      <th><%= f.label :value %></th>
      <td><%= f.text_field :value %></td>
    </tr>
    <tr class="field">
      <th><%= f.label :requires_other %></th>
      <td><%= f.check_box :requires_other %></td>
    </tr>
    <tr class="field">
      <th><%= f.label :other_question %></th>
      <td><%= f.text_field :other_question %></td>
    </tr>
    <tr class="field">
      <th><%= f.label :answer_eval %></th>
      <td><%= f.text_field :answer_eval %></td>
    </tr>
    </table>
    
  <div class="actions">
    <%= f.submit %>
  </div>
</fieldset>
      
<% end %>
