<div class="assmnt-list">

  <table>
    <tr class="list-header">
        <th>Sequence</th>
        <th>Answer</th>
        <th>Shortname</th>
        <th>Value</th>
        <th>Other?</th>
        <th>OtherQ</th>
        <th>Eval</th>
        <th>Actions</th>
    </tr>
    <% alt = true%>
    <% @question.answers.each do |answer| %>
      <% alt = !alt %>

    <tr <%=raw alt ? "class=\"alt\"" : ""%>>
        <td><%= answer.sequence %></td>
        <td><%= raw truncateText(answer.answer,35,"middle") %></td>
        <td><%= answer.shortname %></td>
        <td><%= answer.value %></td>
        <td><%= answer.requires_other %></td>
        <td><%= raw truncateText(answer.other_question,20,"middle") %></td>
        <td><%= answer.answer_eval %></td>
        <td>
        <%= link_to 'Show', admin_answer_path(answer) %>
        <%= link_to 'Edit', edit_admin_answer_path(answer) if @status[:can_modify?] %>
        <%= link_to 'Destroy', admin_answer_path(answer), :confirm => 'Are you sure?', :method => :delete if @status[:can_modify?] %>
      </td>
    </tr>
  <% end %>
  </table>
</div>

