<%= form_for([:admin,@assessment,@question]) do |f| %>
<fieldset class="assmnt-form-list">
	<legend><%= params[:action] == "edit" ? "Edit" : "New" %> Question</legend>

  <% if @question.errors.any? %>
  <div id="errorExplanation">
    <h2><%= pluralize(@question.errors.count, "error") %> prohibited this question from being saved:</h2>
    <ul>
    <% @question.errors.full_messages.each do |msg| %>
      <li><%= msg %></li>
    <% end %>
    </ul>
  </div>
  <% end %>
	<table class="f-left">
    <tr class="field">
      <th><%= f.label :sequence %></th>
      <td><%= f.text_field :sequence %></td>
    </tr>
    <tr class="field">
      <th><%= f.label :question %></th>
      <td><%= f.text_area :question , :rows => 3 %></td>
    </tr>
    <tr class="field">
      <th><%= f.label :shortname %></th>
      <td><%= f.text_field :shortname %></td>
    </tr>
    <tr class="field">
      <th><%= f.label :answer_type %></th>
      <td><%= f.select :answer_type, answer_type_options(@question.answer_type) %></td>
    </tr>
    <tr class="field">
      <th><%= f.label :display_type %></th>
      <td><%= f.select :display_type, display_type_options(@question.display_type) %></td>
    </tr>
    <tr class="field">
      <th><%= f.label :score_method %></th>
      <td><%= f.select :score_method, score_method_options(@question.score_method) %></td>
    </tr>
  </table>
	<table class="f-left">
    <tr class="field">
      <th><%= f.label :weight %></th>
      <td><%= f.text_field :weight %></td>
    </tr>
    <tr class="field">
      <th><%= f.label :critical %></th>
      <td><%= f.check_box :critical %></td>
    </tr>
    <tr class="field">
      <th><%= f.label :minimum_value %></th>
      <td><%= f.text_field :minimum_value %></td>
    </tr>
    <tr class="field">
      <th><%= f.label :group_header %></th>
      <td><%= f.text_field :group_header %></td>
    </tr>
    <tr class="field">
      <th><%= f.label :xml_key %></th>
      <td><%= f.text_field :xml_key %></td>
    </tr>
    	  
    
    <tr class="field">
      <th><%= f.label :note %></th>
      <td><%= f.text_area :note , :rows => 3%></td>
    </tr>
    </table>
    <div class="f-clear"></div>
  <div class="assmnt-actions">
    <%= f.submit %>
  </div>
</fieldset>
      
<% end %>
