<fieldset class="assmnt-show">
	<legend>Question</legend>
	<table>
  	<tr>
  	  <th>Sequence:</th>
  	  <td><%= @question.sequence %></td>
  	</tr>

  	<tr>
  	  <th>Question:</th>
  	  <td><%= @question.question %></td>
  	</tr>

  	<tr>
  	  <th>Shortname:</th>
  	  <td><%= @question.shortname %></td>
  	</tr>

  	<tr>
  	  <th>Answer type:</th>
  	  <td><%= @question.answer_type %></td>
  	</tr>

  	<tr>
  	  <th>Display type:</th>
  	  <td><%= @question.display_type %></td>
  	</tr>

  	<tr>
  	  <th>Score method:</th>
  	  <td><%= @question.score_method %></td>
  	</tr>

  	<tr>
  	  <th>Weight:</th>
  	  <td><%= @question.weight %></td>
  	</tr>

  	<tr>
  	  <th>Critical:</th>
  	  <td><%= @question.critical %></td>
  	</tr>

  	<tr>
  	  <th>Minimum value:</th>
  	  <td><%= @question.minimum_value %></td>
  	</tr>

  	<tr>
  	  <th>Note:</th>
  	  <td><%= @question.note %></td>
  	</tr>
  		<tr>
  	  <th>xml_key:</th>
  	  <td><%= @question.xml_key %></td>
  	</tr>
	</tr>
		<tr>
	  <th>Assmnt Status:</th>
	  <td><%= @question.status %><%= @question.assessor_count%></td>
	</tr>

	</table>
</fieldset>

<div class="actions">
	<span class="crud">
  	<%= link_to 'Edit', edit_admin_question_path(@question) %> 
	</span>
	<span class="f-right breadcrumbs">
  	<%= link_to 'Assessments', admin_assessments_path %>
  	<%= link_to 'Assessment', admin_assessment_path(@question.assessment_id) %>
	</span>
	
</div>

<fieldset class="relations">
  <legend>Answers  	
    <span class="crud">
      <%if params[:question_id] %>
      <%= link_to 'New Answer', new_admin_question_answer_path(params[:question_id]) %>
      <%else%>
      <%= link_to 'New Answer', new_admin_question_answer_path(params[:id]) %>
      <%end%>
  	</span>
  </legend>
	<div id="related">
	  <%= render :partial => 'answers' %>
	</div>
</fieldset>
