<div class="actions">
  <%= form_tag search_company_path, :method => 'get' do %>  
    <p>  
      Name <%= text_field_tag :name, params[:name] %>  
      Phone <%= text_field_tag :phone, params[:phone] %>  
      eMail <%= text_field_tag :email, params[:email] %>  
      Status <%= select_tag :status, applicant_status_options_all(params[:status]) %>
      <%= submit_tag "Search", :name => "filter" %>  
    </p>  
  <% end %>  
</div>
<%= render "applicants"%>
