<fieldset id="assessors" class="">
  <legend>Assessors</legend>
  
  
<div class="index-list">
	<div class="actions">
	</div>

  <table>
    <tr class="list-header">
      <th>ID</th>
        <th>Assessment</th>
        <th>Assesses</th>
        <th>Assessing</th>
        <th>Category</th>
        <th>Status</th>
        <th>Actions</th>
    </tr>

  <% @assessors.each do |assessor| %>
    <tr>
      <td><%= assessor.id %></td>
      
      <td><%= assessor.assessment_id %></td>
      <td><%= assessor.assessed_model %></td>
      <td><%= assessor.assessing_type %>/<%= assessor.assessing_id %></td>
      <td><%= assessor.assessment.category %></td>
      <td><%= assessor.status %></td>
      <td>
      <%= link_to 'Show', assessor_path(assessor) %>
      <%= link_to 'Edit', edit_assessor_path(assessor) %>
      <%= link_to 'Destroy', assessor_path(assessor), :confirm => 'Are you sure?', :method => :delete %>
      </td>
    </tr>
  <% end %>
  </table>
  <%= will_paginate @assessors %> 
  
</div>
</fieldset>

